.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.3vw;
    height: fit-content;
    position: relative;
    padding: 10px
}

.booking-page select, option, input, button{
    font-size: 1.3vw;
}

.box-divider {
    border-top: 1px solid #231503;
    width: 100%;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 1.5vh;
}

.booking-page form div {
    display: block;
    /* flex-direction: column; */
    text-align: center;
}

#flight-location {
    display: flex;
    flex-direction: column;
}

#flight-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: auto;
    margin: 10vh;
}

#flight-details div {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#flight-type {
    display: flex;
    flex-direction: row;
}

.flight-type input {
    width: fit-content;
}

#user-detail {
    display: flex;
    flex-direction: column;
    margin: 10vh;
}

#user-detail div {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

#user-detail input {
    line-height: 1.5vh;
    border: none;
    border-bottom: 2px solid #231503;
}

#flight-list {
    margin: 10vh;
}

#flight-table {
    border-collapse: collapse;
}

#flight-table th {
    background-color: #f1e8dc;
    color: #231503;
}

#flight-table th, td {
    border: 1px solid #231503;
    padding: 8px;
}

#submit-btn{
    border: none;
    padding: 20px;
    background: #f1e8dc;
    color: #f1e8dc;
}


#flight-summary {
    display: block;
    align-items: center;
    text-align: center;
    margin: 10vh;
}

#flight-summary div {
    display: flex;
    flex-direction: column;
    line-height: 3.2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#flight-summary ul {
    text-align: left;
    margin-bottom: 40px;
}

#flight-summary ul li{
    list-style-type: none;
}

#flight-summary button {
    color: #f3efe4;
    background-color: #231503;
    width: 150px;
    margin-bottom: px;
    padding: 10px;
    border: none;
}

#flight-summary button:hover {
    opacity: 0.6;
}