.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    background-color: peachpuff;
}

.booking-page select, option, input, button{
    font-size: 1.3rem;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 1.5rem;
}

.booking-page form div {
    display: block;
    /* flex-direction: column; */
    text-align: center;
}

#flight-location {
    display: flex;
    flex-direction: column;
}

#flight-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: auto;
}

#flight-details div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#flight-type {
    display: flex;
    flex-direction: row;
}

.flight-type input {
    width: fit-content;
}

#user-detail {
    display: flex;
    flex-direction: column;
}

#user-detail div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#user-detail input {
    line-height: 1.5rem;
}

#flight-table {
    border-collapse: collapse;
}

#flight-table th {
    background-color: #f2f2f2;
}

#flight-table th, td {
    border: 1px solid #ddd;
    padding: 8px;
}


#flight-summary {
    display: block;
    align-items: center;
    text-align: center;
}

#flight-summary div {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#flight-summary ul {
    text-align: left;
    margin-bottom: 40px;
}

#flight-summary ul li{
    list-style-type: none;
}

#flight-summary button {
    width: 150px;
    margin-bottom: 15px;
}

#flight-summary button:hover {
    color: blue;
}