.main-header {
    background-color: #231503;
    min-height: 3rem; /* rem uses root font size */
    width: 100%;
    display: flex;
    padding: 0 10px;
    color: #f8f4ee;
    text-align: center;
    flex-direction: column;
}

.main-header h1 {
    font-size: 1.5vw;
}